:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: rgb(33, 150, 243);
  --main-color: rgb(33, 33, 33);
  --icon-background-color: #ffffff;
  --icon-color-passive: #afb1b8;
  --section-pt: 94px;
  --section-pb: 94px;
}

body {
  font-family: var(--main-font);
}

/* ---сброс--- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}
/* ---сброс--- */
/* ---скрыть текст--- */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* ---скрыть текст--- */
/* ============= COMPONENTS ============= */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;

  /* color: var(--accent-color); */
}
.first-part {
  color: var(--accent-color);
}
.second-part {
  color: rgb(0, 0, 0);
}

.logo-light-theme {
  color: rgb(0, 0, 0);
}
.logo-dark-theme {
  color: rgb(255, 255, 255);
}

.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */
.header .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.contact-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .container {
  display: flex;
  align-items: center;
}

.contact-svg-logo {
  margin-right: 10px;
}

.contact-header-list {
  display: flex;
  align-items: center;
}

.contact-header-list:not(:last-child) {
  margin-right: 50px;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

header {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(236, 236, 236);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);

  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-header-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;

  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-header-link:hover,
.contact-header-link:focus {
  color: var(--accent-color);
}

.contact-header-link:focus svg,
.contact-header-link:hover svg {
  fill: var(--accent-color);
}

/* ---цвет текущей страницы (current)--- */
.navigation-list .current {
  color: var(--accent-color);
}

/* ============= END HEADER ============= */

/* ============= HERO ============= */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgb(47, 48, 58);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/geroy/geroy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  min-width: 696px;
  padding-right: 252px;
  padding-left: 252px;
  margin-bottom: 30px;

  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  color: rgb(255, 255, 255);
}

/* .modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: rgb(255, 255, 255);
} */

/* ============= END HERO ============= */

/* ============= FEATURES ============= */

.feature-list-logo-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;

  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 30px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.feature-list-item .feature-title {
  margin-bottom: 10px;
}

.feature-list {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.feature-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.features-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
/* ============= END FEATURES ============= */

/* ============= WHAT ARE WE DOING ============= */

.what-are-we-doing {
  padding-bottom: 94px;
}

.what-are-we-doing .title {
  margin-bottom: 50px;
}
.services-list {
  flex-wrap: wrap;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.services-list-item {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
/* ============= END WHAT ARE WE DOING ============= */

/* ============= TEAM ============= */
.team-sections {
  background-color: rgb(245, 244, 250);
  padding-top: 93px;
  padding-bottom: 94px;
}
.team-list-content-wrapper {
  background-color: rgb(255, 255, 255);
  padding: 30px 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.team-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-sections .title {
  margin-bottom: 50px;
}

.team-list-title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}

.team-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
  text-align: center;
}

.team-list-svg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.team-list-link-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--icon-background-color);
}

.team-list-link-svg:hover,
.team-list-link-svg:focus {
  background-color: var(--accent-color);
}

.team-list-link-svg:hover .team-list-icon,
.team-list-link-svg:focus .team-list-icon {
  fill: var(--icon-background-color);
}
.team-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color-passive);
}

/* ============= END TEAM ============= */

/* ========== REGULAR CUSTOMERS ========= */

.customers {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.customers .title {
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.container-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.container-link:hover .container-customers-logo,
.container-link:focus .container-customers-logo {
  fill: var(--accent-color);
}

.container-link:hover,
.container-link:focus {
  border-color: var(--accent-color);
}

.container-customers-logo {
  fill: var(--icon-color-passive);
}

/* ========== END REGULAR CUSTOMERS ========= */

/* ============= FOOTER ============= */
footer {
  background-color: rgb(47, 48, 58);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
}

.contact-address {
  margin-bottom: 9px;
}

.contact-list-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: rgb(255, 255, 255);
}

.footer-social-link .logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.contact-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-address-contact {
  margin-right: 70px;
}

.contact-list-social-link {
  display: flex;
}

.social-link-svg {
  fill: var(--icon-background-color);
}

.footer .container {
  display: flex;
}

.social-link-item:hover,
.social-link-item:focus {
  background-color: var(--accent-color);
}

/* ============= END FOOTER ============= */

/* -----------------second page-------------------- */

/* ============= FILTER BUTTON ============= */

.filter-button {
  /* min-width: 73px; */
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
}

.filter-button:focus,
.filter-button:hover {
  background-color: var(--accent-color);
  color: rgb(255, 255, 255);
}

/*---- separately set the color of the button "все" ---- */
.filter-list-button-vse {
  background-color: var(--accent-color);
  color: rgb(255, 255, 255);
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --- управление кнопками--- */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/* ---расстояние между кнопками--- */
.filter-list-button:not(:last-child) {
  margin-right: 8px;
}

.filter-list-button {
  /* background-color: turquoise; */
  display: flex;
}

/* ============= END FILTER BUTTON ============= */

/* ============= PROJECT ============= */

/* ---управление карточками--- */
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project-list-item {
  display: flex;

  flex-direction: column;
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.project-list-item:hover,
.project-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-item-wrapper {
  padding: 20px 24px;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(238, 238, 238);
  border-top: none;
}

.project-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

/* ============= END PROJECT ============= */
